<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RsComCs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RsComCs.Properties.Settings>
            <setting name="PortDefault" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="BpsDefault" serializeAs="String">
                <value>2400</value>
            </setting>
            <setting name="LengthDefault" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="ParityDefault" serializeAs="String">
                <value>Even</value>
            </setting>
            <setting name="StopDefault" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TerminatorDefault" serializeAs="String">
                <value>CR/LF</value>
            </setting>
            <setting name="formTime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="formDate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="formSeq" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="formCommand" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="formPU" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="formRepeat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="txtRepeat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="txtCommand" serializeAs="String">
                <value>RW</value>
            </setting>
            <setting name="formKey" serializeAs="String">
                <value>False</value>
            </setting>
        </RsComCs.Properties.Settings>
    </userSettings>
</configuration>